<div class="container mt-5 p-3 ">
    <div class="row">
        <h1 class="display-1 text-center">ABOUT US</h1>
    </div>
    <div class="row">
        <img src="../../assets/images/team.jpg" class="team-img">

        <div class="row">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro sequi quam velit doloremque sapiente eveniet aut vel ex! Minus accusamus consectetur doloribus, cum ipsa ut cupiditate facere tempora laborum minima?</p>

            <hr>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis maiores ullam ea sequi laboriosam et quo corrupti officia fugit similique excepturi assumenda, nostrum eius debitis? Ipsum obcaecati dolorem debitis autem?</p>
        </div>

    </div>
</div>
