
<div class="land p-3">
 <navbar></navbar>
  
  <div class="row">
    <h1 class="display-3 text-center head">JACKET</h1>
  </div>
  <div class="row">
    <p class="text-center pr">Our store is characterized by the latest fashions, as well as the best types of materials, as well as detailed clothing</p>
  </div>
</div>
<router-outlet></router-outlet>

<footer class="bg-dark p-3 mt-5 footer text-white">
  <div class="row">
    <h1 class="h1 text-center h">jacket store is your best choice</h1>
  </div>
  <div class="row">
    <div class="col-6">
      <button class="btn" routerLink="/">T-SHIRTS</button>
      <button class="btn" routerLink="/caps">CAPS</button>
      <button class="btn" routerLink="/">ABOUT</button>

    </div>

    <div class="col-6">
      <h2 class="text-center">CONTACT US</h2>
      <form >
        <div class="mt-3 mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text"  id="name" class="form-control">
        </div>
        <div class="mt-3 mb-3">
          <label for="Email" class="form-label">Email</label>
          <input type="email"  id="Email" class="form-control">
        </div>
        <div class="mt-3 mb-3">
         <textarea name="text" id="text"  rows="5" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-light mt-3 submit" >Submit</button>
      </form>
    </div>
  </div>
</footer>




